
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index7</title>


    <style>

        body {
            font-family: Verdana, sans-serif;
            font-weight: bold;
            text-align: justify;
            font-size: 14px;
            background-image: url('../../ttarena2.jpg');
        }

        .blue {
            width: 500px;
            background-color: blue;
            padding: 20px;
            top: 0px;
            position:absolute;
            z-index:1;
        }

        .red {
            width: 500px;
            background-color: red;
            padding: 20px;
            margin-top: 15px;
            position: relative;
            top: -5px;
            z-index: 2;
        }

        .green {
            width: 500px;
            height: 100px;
            background-color: green;
            padding: 20px;
            margin-top: 15px;
           /* opacity: 0.5;*/
            /*background-image:url()*/
        }

        #deneme {
            width:800px;
            height:350px;
            padding:20px;
            background-color:skyblue;
            transition:all 1s ease-in-out;
            cursor:pointer;
            line-height:70px; /*satır yüksekliği*/
            letter-spacing:7px; /* between space in letters*/
            text-align:left;
            text-decoration:underline;
            text-indent:100px;
            text-transform:lowercase;
            word-spacing:30px; /*  space between words*/
          /*  text-shadow:2px 2px red;*/
        }

          /*  #deneme:hover {
                background-color: blueviolet;
                transform: rotate(360deg) scale(.5);
                -webkit-transform: rotate(360deg)scale(.5);
            }*/
    </style>

</head>
<body>
    <div class="blue">
        aaaaaaaaaaaaaaaa
    </div>

    <div class="red">
        bbbbbbbbbbbbb
    </div>

    <div class="green">
        ccccccccccccc
    </div>

    <p id="deneme">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, 
but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
    <div>dddddddddddddd</div>
</body>
</html>
