
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index6</title>

    <style>
        div {
            background-color: goldenrod;
            color: darkslategray;
            width: 600px;
            height: 200px;
            font-size: 16px;
            /*margin: 20px; 30px; 35px; 27px;*/
            /*padding:20px;*/
            padding-top: 25px;
            padding-right: 20px;
            padding-bottom: 15px;
            padding-left: 22px;

            margin-top: 25px;
            margin-right: 20px;
            margin-bottom: 15px;
            margin-left: 22px;

            border:10px dotted black;
            border-radius:60px;
        }

        .cart_sedat4 {
            font-size: 25px;
        }

        #deneme {

        }

        .mavi {
            width:500px;
            background-color:blue;
            padding:20px;
            margin-top:15px;
        }

    </style>

</head>
<body>
    <div id="deneme"> 
        aaaaaaaaaaaaaaaa
    </div>

    <div style="font-size: 30px;">
        bbbbbbbbbbbbb
    </div>

    <div>
        ccccccccccccc
    </div>

    <p>111111111111111</p>
    <div>dddddddddddddd</div>
</body>
</html>
