
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <meta name="description" content="web sayfasının tanımı...Cep telefonu, bilgisayar, televizyon, kozmetik ve binlerce ürün uygun fiyatlarla Hepsiburada.com'da. Ücretsiz kargo fırsatları ile her şey ayağına gelsin" />

    <meta name="keywords" content="anahtar,şamzuan,vida,orkide" />
    <meta name="author" content="iakademi" />
    <title>Index3</title>
    <script>

    </script>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div> 




        <form action="/Home/Uyeol" method="post">
            <label>isminiz</label>
            <input type="text" name="txt_isim" value="" />

            <br />

            <label>Adresiniz</label>
            <input type="text" name="txt_adres" value="" />

            <br />

            <input type="submit" name="name" value="KAYDET" />

            <div class="proopc-row proopc-checkout-box">
                <button class="proopc-btn-info" type="button">KAYDET</button>
            </div>
        </form>
        <br /><br />

              <table border="1" class="table table-dark table-hover">
                  <tr>
                      <td>Barcelona</td>
                  </tr>

                  <tr>
                      <td>İzmir</td>
                  </tr>

                  <tr>
                      <td>Denizli</td>
                  </tr>

                  <tr>
                      <td>Muğla</td>
                  </tr>

                  <tr>
                      <td>Aydın</td>
                  </tr>
              </table>

        <br /><br />

        <table border="1">
            <tr>
                <th>Rumuz</th>
                <th colspan="2">Email</th>
            </tr>

            <tr>
                <td>gunesdenizkum</td>
                <td>sedattefci@hotmail.com</td>
                <td>sedattefci1972@hotmail.com</td>
            </tr>
        </table>

    </div>
</body>
</html>
<script>

</script>
